html,
body, #root {
  height: 100vh;
}

#root > div {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProgressIndicator {
  text-align: center;
}

.flex-card-container {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-height:100vh;
  max-width: 968px;
  margin: auto;
  gap: 1rem;
  flex-direction: column;
  padding:10rem;
  
}

.flex-item {
  color: black;
  font-size: 0.5rem;
  max-width:15rem;
  text-align: center;
}
